---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: unifi-poller
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: unifi-poller-secret
    template:
      engineVersion: v2
      data:
        # App
        UP_UNIFI_DEFAULT_URL: "{{ .UNIFI_POLLER_URL }}"
        UP_UNIFI_DEFAULT_API_KEY: "{{ .UNIFI_POLLER_API_KEY }}"

  dataFrom:
    - extract:
        key: unifi
