# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.crt
*.key
# Private
/.private/
# Taskfile
/.task/
# Brew
Brewfile.lock.json
# Bootstrap
/kubernetes/*/config.yaml
