---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudnative-pg-secret
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .POSTGRES_SUPER_USERNAME }}"
        password: "{{ .POSTGRES_SUPER_PASSWORD }}"
        CLOUDFLARE_R2_ACCESS_KEY_ID: "{{ .CLOUDFLARE_R2_ACCESS_KEY_ID }}"
        CLOUDFLARE_R2_SECRET_ACCESS_KEY: "{{ .CLOUDFLARE_R2_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: cloudflare
    - extract:
        key: cloudnative-pg
