---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gatus
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: gatus-secret
    template:
      engineVersion: v2
      data:
        # App
        DISCORD_WEBHOOK: "{{ .GATUS_WEBHOOK }}"
  dataFrom:
    - extract:
        key: discord
