---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pve-exporter
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: pve-exporter-secret
    template:
      engineVersion: v2
      data:
        # App
        PVE_USER: "{{ .PVE_EXPORTER_USER }}"
        PVE_PASSWORD: "{{ .PVE_EXPORTER_PASSWORD }}"
        PVE_VERIFY_SSL: "false"
  dataFrom:
    - extract:
        key: proxmox
