---
apiVersion: v1
kind: Service
metadata:
  name: &app minio
  namespace: network
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  type: ExternalName
  externalName: funkstation.internal
  # type: ClusterIP
  # clusterIP: None
  ports:
    - name: http-minio-console
      port: &port-console 9001
      protocol: TCP
      targetPort: *port-console
    - name: http-minio-api
      port: &port-api 9000
      protocol: TCP
      targetPort: *port-api
# ---
# apiVersion: v1
# kind: Endpoints
# metadata:
#   name: minio
#   namespace: network
# subsets:
#   - addresses:
#       - ip: 10.10.10.20
#     ports:
#       - name: http-minio-console
#         port: 9001
#         protocol: TCP
#       - name: http-minio-api
#         port: 9000
#         protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: &app minio
  namespace: network
  labels:
    app.kubernetes.io/name: *app
    app.kubernetes.io/instance: *app
spec:
  ingressClassName: internal
  rules:
    - host: "minio.oxygn.dev"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: *app
                port:
                  number: 9001
    - host: "s3.oxygn.dev"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: *app
                port:
                  number: 9000
